.about-wrapper {
  padding: 2rem;

  &__back {
    width: 5vw;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;

    img {
      position: relative;
      transition: all 0.3s ease-in-out;
      left: 0;
    }

    &:hover {
      > img {
        left: -10px;
      }
    }
  }
}

.about-content {
  height: 100vh;
  display: grid;
  width: 80%;
  grid-template-columns: 25% 35% 40%;
  grid-template-rows: 20% 20% 20% 10% 30%;
  gap: 40px;
  grid-template-areas: "title title ." ". intro intro-text" ". skills txt" ". . btn" ". . .";

  &__title {
    grid-area: title;
    font-size: 5rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__intro {
    grid-area: intro;

    img {
      width: 30%;
      filter: saturate(0);
    }
  }

  &__intro-text {
    grid-area: intro-text;
  }

  &__skills {
    grid-area: skills;
    font-weight: 900;

    p {
      font-size: 2rem;
    }
  }
  &__txt {
    grid-area: txt;
  }
  &__btn {
    grid-area: btn;
    button {
      font-size: 2rem;
    }
  }
}
