{% extends "layouts/base.twig" %}
{% block content %}

	<div class="about-wrapper">

		<a class="about-wrapper__back" href="/">
			<img src="{{site.theme.link}}/assets/arrow_back.svg">
		</a>

		<div class="about-content">

			<div class="about-content__title">
				<h1>About</h1>
			</div>

			<div class="about-content__intro">
				<img src="/wp-content/uploads/2022/04/File_000.jpeg" alt=""/>
			</div>

			<div class="about-content__intro-text">
				<hr/>
				<span>Claudio is an aspiring graphic designer based in Switzerland. He is studying content creation at SAE Institute in Zurich to further explore his creativity in various types of media. His goal is to create meaningful designs for clients such as companies, brands, and artists. In his work, Claudio loves to combine traditional and digital tools to create playful and unique imagery.
				</span>
			</div>


			<div class="about-content__skills">
				<p>Graphic Design</p>
				<p>Illustration</p>
				<p>Web Design</p>
			</div>

			<div class="about-content__txt">
				<hr/>
				<p>You have an idea for a project? Message me directly at
					<a href="mailto:hi@claudioweckherlin.com">hi@claudioweckherlin.com</a>
					and I'd love to hear from you!<br/>
					Furthermore, feel free to download my CV by clicking the button below.
				</p>
			</div>

			<div class="about-content__btn">
				<button>Download CV</button>
			</div>


		</div>

	</div>

{% endblock %}
